<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<style>

    #w {
        display: block;
        width: 700px;
        margin: 0 auto;
        padding-top: 35px;
    }

    #comments {
        display: block;
    }

    #comments .cmmnt, ul .cmmnt, ul ul .cmmnt {
        display: block;
        position: relative;
        padding-left: 65px;
        border-top: 1px solid #ddd;
    }

    #comments .cmmnt .avatar {
        position: absolute;
        top: 8px;
        left: 0;
    }

    #comments .cmmnt .avatar img {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.44);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.44);
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear;
    }

    #comments .cmmnt .avatar a:hover img {
        opacity: 0.77;
    }

    #comments .cmmnt .cmmnt-content {
        padding: 0px 3px;
        padding-bottom: 12px;
        padding-top: 8px;
    }

    #comments .cmmnt .cmmnt-content header {
        font-size: 1.3em;
        display: block;
        margin-bottom: 8px;
    }

    #comments .cmmnt .cmmnt-content header .pubdate {
        color: #777;
    }

    #comments .cmmnt .cmmnt-content header .userlink {
        font-weight: bold;
    }

    #comments .cmmnt .replies {
        margin-bottom: 7px;
    }
</style>
<body onload="">
<section id="container">
    <header class="header black-bg">
        <% include partials/header %>
    </header>
    <aside>
        <% include partials/sidebar %>
    </aside>
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h2><i></i> Bağış İstekleri </h2>

            <% var proggress = (donationDetail.donatedCount + donationDetail.promisedCount / donationDetail.totalcount) * ((100 / donationDetail.totalcount) / (100 / donationDetail.totalcount)) * 100 | 0;
            console.log(proggress, "-------");
            %>
            <div class="row mt" id="isteklerDiv">
                <div class="col-lg-12 col-md-12 col-sm-12 mb">
                    <div class="weather-2 pn">
                        <div class="weather-2-header">
                            <div class="col-sm-12 col-xs-12" style="color:white;">
                                <h4><%= JSON.stringify(donationDetail.description) %></h4>
                                <h4><%= JSON.stringify(donationDetail.establishment) %>
                                    için <%= JSON.stringify(donationDetail.totalcount - (donationDetail.donatedCount + donationDetail.promisedCount)) %>
                                    tane <%= JSON.stringify(donationDetail.item) %> gerekiyor.</h4>
                            </div>
                            <div class="row">

                                <div class="col-sm-6 col-xs-6 goright">

                                </div>
                            </div>
                        </div>
                        <div class="row centered">


                        </div>
                        <div class="row data" style="height: 100px;">
                            <div class="col-sm-6 col-xs-6 goleft">
                                <h4>Temsilci: <%=donationDetail.user%></h4>
                                <h4>Adres: <%= JSON.stringify(donationDetail.address.city)+" "+ JSON.stringify(donationDetail.address.district)+" "+JSON.stringify(donationDetail.address.localaddress) %></h4>
                                <h4>Durum: <%= donationDetail.status %></h4>
                                    <h4>Bağış Sayısı: <%= donationDetail.donatedCount + donationDetail.promisedCount + '/' + donationDetail.totalcount; %></h4>


                            </div>
                            <div class="col-sm-6 col-xs-6 right">
                                <%if(donationDetail.itemType=="giysi"){%>
                                <img src="images/clothes.jpg" class="img-rounded" width="100"> </a>
                                <%} else{%>
                                <img src="images/bagisistekornek.jpg" class="img-rounded" width="150"> </a>
                                <%} %>

                            </div>
                        </div>



                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="<%= (donationDetail.donatedCount + donationDetail.promisedCount) %>"
                             aria-valuemin="0"
                             aria-valuemax="<%= donationDetail.totalcount %>" style="width: '<%= proggress %>%">
                            <%= proggress %>

                        </div>
                    </div>
                </div>
            </div>

            <div>
                <% if(madeDonations != null){ %>

                <h2><i></i> Yapılan Bağışlar</h2>

                <%
                    var k;
                for(k = 0;k < madeDonations.length;k++){
                %>
                <div class="row mt" id="isteklerDiv">
                    <div class="col-lg-12 col-md-12 col-sm-12 mb">
                        <div class="weather-2 pn">
                            <div class="col-sm-6 col-xs-6 ">
                                <h3><%= "Bağışçı: " + JSON.stringify(madeDonations[k].donator) %> </h3>
                                <h3><%= "Adet: " + JSON.stringify(madeDonations[k].donationCount) %> </h3>

                                <h3><%= "Kargo Şirketi: " + JSON.stringify(madeDonations[k].cargoInfo.cargoCompany) %></h3>
                                <h3><%= "Takip Numarası: " + JSON.stringify(madeDonations[k].cargoInfo.trackingNo) %></h3>
                                <% console.log(madeDonations[k]._id, "--------------------------");
                                    var id = madeDonations[k]._id;
                                    console.log(id, "--------------------------");
                                %>

                                <button name="finishDonationButton" class="btn btn-theme02" data-toggle="modal"
                                        data-target="<%="#bagisOnayiModel"+ k%>"> Bağışı Onayla
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="<%="bagisOnayiModel"+ k%>" tabindex="-1" role="dialog"
                     aria-labelledby="<%="bagisOnayiModelLabel"+k%>" aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                                <h4 class="modal-title">Bağış Onayı</h4>
                            </div>
                            <div id="<%="bagisOnayiModelLabel"+k%>" class="modal-body">
                                <form id="<%="bagisOnayiForm" + k %>" name="<%="bagisOnayiForm" + k %>" action="/onaybilgisiekle" method="POST"
                                      enctype="multipart/form-data">
                                    <br>
                                    <input type="text" class="form-control" placeholder="Teşekkür Açıklamanız"
                                           name="thankyouletter" autofocus>
                                    <br>
                                    <input type="file" class="form-control" placeholder="Eşya Fotoğrafı" name="foto">
                                    <br>
                                    <input type="text" hidden="true" name="donationID" value="<%=id%>">

                                    <button class="btn btn-theme btn-block" id="<%="submitButton" + k %>"><i class="fa fa-plus"></i>
                                        Teşekkür Et
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <%
                }
                } %>
            </div>


            <div id="w">

                <h1>Yorumlar</h1>

                <div id="container">
                    <% if(donationDetail.comments != null){ %>
                    <ul id="comments">
                        <% for(var i = 0; i < donationDetail.comments.length; i++) { %>

                        <li class="cmmnt">
                            <div class="avatar"><a href="javascript:void(0);">
                                    <img src="images/dark-cubes.png" width="55" height="55"
                                         alt="DarkCubes photo avatar"></a></div>
                            <div class="cmmnt-content" id="<%= "comment" + i %>">
                                <header><a href="javascript:void(0);"
                                           class="userlink"><%= donationDetail.comments[i].email %></a> -
                                    <span class="pubdate"><%= donationDetail.comments[i].commentDate %></span>
                                </header>
                                <h5> <%= donationDetail.comments[i].comment %></h5>
                                <% if(donationDetail.comments[i].replies == null){ %>
                                <button id="<%= "replyButton" + i %>" name="replyButton"
                                        onclick="openForm(<%= "replyButton" + i %>)" class="fa-reply">Yanıtla
                                </button>
                                <% } %>
                                <form id="<%= "replyForm" + i %>" style="display:none;" action="/cevapEkle"
                                      method="post">
                                    <textarea name="firstReply" id="<%= "replyTextArea" + i %>"></textarea>
                                    <input name="donationRequestID" hidden="true"
                                           value="<%= donationDetail._id %>"></input>
                                    <input name="firstReplyID" hidden="true" value="<%= i %>"></input>

                                    <button id="<%= "sendReplyButton" + i %>" name="sendReplyButton" class="fa-reply">
                                        Yanıtla
                                    </button>

                                </form>

                            </div>

                            <% if(donationDetail.comments[i].replies != null){
                            for(var j = 0; j < donationDetail.comments[i].replies.length; j++) { %>
                            <ul class="replies">
                                <li class="cmmnt">
                                    <div class="avatar"><a href="javascript:void(0);"><img src="images/pig.png"
                                                                                           width="55" height="55"
                                                                                           alt="Sir_Pig photo avatar"></a>
                                    </div>
                                    <div class="cmmnt-content">
                                        <header><a href="javascript:void(0);"
                                                   class="userlink"><%= donationDetail.comments[i].replies[j].email %></a>
                                            -
                                            <span class="pubdate"><%= donationDetail.comments[i].replies[j].commentDate %></span>
                                        </header>
                                        <h5><%= donationDetail.comments[i].replies[j].comment %></h5>


                                    </div>
                                </li>
                            </ul>

                            <% } %>
                            <button id="<%= "replyToAnswerButton" + i %>" name="replyToAnswerButton"
                                    onclick="openForm(<%= "replyToAnswerButton" + i %>)" class="fa-reply">Yanıtla
                            </button>
                            <form id="<%= "replyToAnswerForm" + i %>" style="display: none;" action="/yorumEkle"
                                  method="post">
                                <textarea name="replyToAnswer" id="<%= "replyToAnswerTextArea" + i %>"></textarea>
                                <input name="donationRequestID" hidden="true" value="<%= donationDetail._id %>"></input>
                                <input name="replyToAnswerID" hidden="true" value="<%= i %>"></input>
                                <input name="secondReplyID" hidden="true" value="<%= j %>"></input>
                                <button id="<%= "sendReplyButton" + i %>" name="sendReplyButton" class="fa-reply">
                                    Yanıtla
                                </button>
                            </form>
                            <% } %>

                        </li>

                        <% } %>
                    </ul>
                </div>
                <% } %>

                <form id="replyToThreadForm" action="/konuyaYorumEkle" method="post">
                    <textarea name="replyToThread" id="replyToThreadTextArea"
                              style="width:100%;height:100%;"></textarea>
                    <input name="donationRequestIDReply" hidden="true" value="<%= donationDetail._id %>"></input>
                    <button id=sendReplyToThreadButton" name="sendReplyToThreadButton">Yorum Ekle</button>
                </form>
            </div>


        </section>
        <! --/wrapper -->
    </section>
    <!-- **********************************************************************************************************************************************************
   MAIN CONTENT
   *********************************************************************************************************************************************************** -->

    <% console.log(donationDetail, "-------------------------------"); %>

    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <% include partials/footer %>
        >
    </footer>
    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="javascripts/app/jquery.js"></script>
<script src="javascripts/app/bootstrap.min.js"></script>
<script src="javascripts/app/jquery-ui-1.9.2.custom.min.js"></script>
<script src="javascripts/app/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="javascripts/app/jquery.dcjqaccordion.2.7.js"></script>
<script src="javascripts/app/jquery.scrollTo.min.js"></script>
<script src="javascripts/app/jquery.nicescroll.js" type="text/javascript"></script>


<!--common script for all pages-->
<script src="javascripts/app/common-scripts.js"></script>

<!--script for this page-->

<script>
    //custom select box
    bagislar.className = "active";
    bagisistekleriSB.className = "active";
</script>
<script>

    function openForm(id) {

        $(".fa-reply").click(function () {
            this.nextElementSibling.style.display = "block";
            document.getElementById(id).style.display = "none";
//                var replyButtonToNotDisplay = document.getElementById("replyToAnswerButton");
//                replyButtonToNotDisplay.style.display="none";
            //  this.parentNode.appendChild(replyForm);
            console.log($(this).parent().attr('id'));
        });
        console.log("hello", "----------------------------------------------");

    }


</script>


</body>
</html>
